#carousel-counter {
  text-align: center;
}

.slick-dots {
  bottom: -35px;
}

.carousel img {
  width: 100%;
}

.carousel-counts {
  display: inline-block;
  width: 90px;
  position: relative;
  bottom: 2px;
}

.carousel-arrow {
  display: inline-block;
  cursor: pointer;
  vertical-align: middle;
}

.carousel-arrow img {
  height: 20px;
}

.carousel-arrow.left {
  margin-right: 10px;
}

.carousel-arrow.right {
  margin-left: 10px;
}

/* cover vimeo videos with a transparent overlay
   that catches swipe events */
.swipeable-overlay {
  position: absolute;
  top: 50px;
  right: 50px;
  left: 50px;
  bottom: 50px;
  z-index: 1;
}
