/* Cart stuff */

.cart-buttons {
  margin-top: 20px;
}

.cart-menu {
  margin-bottom: 10px;
}

@media (max-width: 719px) {
  .cart-buttons {
    position: absolute;
    right: 0px;
    top: 0px;
    margin-top: 0px;
  }
}

.cart-input {
  padding: 1rem 1.5rem 1rem 1.5rem;
  text-align: center;
  margin: 2px 0px;
  cursor: pointer;
  font-family: 'Roboto Slab', serif;
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 12pt;
  letter-spacing: .3px;
  text-transform: uppercase;
}

.cart-purchase-button {
  border: 1px solid;
  opacity: 0.25;
  transition: 0.2s linear opacity;
}

.cart-purchase-button:hover {
  opacity: 1;
}

.cart-option {
  border: 1px solid black;
}

#shopping-cart {
  position: fixed;
  display: flex;
  top: 15px;
  right: 15px;
  transition: 0.2s linear opacity;
  z-index: 100;
}

#shopping-cart.ready {
  opacity: 0.25;
}

#shopping-cart.hidden {
  display: none;
}

#shopping-cart.ready:hover {
  opacity: 1;
  text-decoration: none;
  cursor: pointer;
}

#cart-quantity {
  display: inline-block;
  font-size: 14px;
  margin: auto 8px;
}