/* Nav bar styles */

#nav a:link, #nav a:visited {
  color: #000000;
}

#nav {
  display: -ms-flex;
  display: -webkit-flex;
  display: flex;
  margin: 0px auto;
  -ms-align-items: center;
  -webkit-align-items: center;
  align-items: center;
}

.nav-wrapper {
  margin: 0px auto;
}

@media (min-width: 720px) {
  #nav {
    
  }

  .nav-wrapper {
    display: -ms-flex;
    display: -webkit-flex;
    display: flex;
    margin-left: 134px;
    width: 100%;
  }

  #superduperstudio {
    margin-left: -40px;
  }
}

#superduperstudio {
  display: inline-block;  
  height: 144px;
}

.navText {
  position: relative;
  display: inline-block;
}

.glyphBox {
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -55px;
  margin-top: -55px;
  width: 111px;
  height: 111px;
  display: -ms-flex;
  display: -webkit-flex;
  display: flex;
  pointer-events: none;
  -ms-align-items: center;
  -webkit-align-items: center;
  align-items: center;
  -ms-justify-content: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-flex-pack: center;
  overflow: visible;
}

/*.glyphBoxSM {
  position: absolute;
  left: 0px;
  height: 26px;
  display: -ms-flex;
  display: -webkit-flex;
  display: flex;
  -ms-align-items: center;
  -webkit-align-items: center;
  align-items: center;
  -ms-justify-content: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-flex-pack: center;
  z-index: -10;
  overflow: visible;
}*/

.glyph {
  width: 111px;
  height: 111px;
  stroke: #000;
  display: -ms-flex;
  display: -webkit-flex;
  display: flex;
  -ms-align-items: center;
  -webkit-align-items: center;
  align-items: center;
  -ms-justify-content: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-flex-pack: center;
  overflow: visible;
}

.flex-filler {
  -ms-flex-grow: 1;
  -webkit-flex-grow: 1;
  flex-grow: 1;
}