<div id="superduperstudio">
  <a href="#">
    <img src="Pics/logo.svg" height="93px">
  </a>
</div>

<div class="nav-wrapper">

  <div class="flex-filler"></div>

  <div class="navText">
    <a href="#current">
<!--       <div class="glyphBox">
        <div class="glyph" id="nav0" style="opacity: 0;">
          <img src="" class="glyphIMG">
        </div>
      </div> -->
      <div>CURRENT</div>
    </a>
  </div>
  
  <div class="flex-filler"></div>
  
  <div class="navText">
    <a href="#archive">
<!--       <div class="glyphBox">
        <div class="glyph" id="nav1" style="opacity: 0;">
          <img src="" class="glyphIMG">
        </div>
      </div> -->
      <div>ARCHIVE</div>
    </a>
  </div>

  <div class="flex-filler"></div>
  
  <div class="navText">
    <a href="http://blog.superduperstudio.net/">
<!--       <div class="glyphBox">
        <div class="glyph" id="nav2" style="opacity: 0;">
          <img src="" class="glyphIMG">
        </div>
      </div> -->
      <div>BLOG</div>
    </a>
  </div>

  <div class="flex-filler"></div>
  
  <div class="navText">
    <a href="#about">
<!--       <div class="glyphBox">
        <div class="glyph" id="nav3" style="opacity: 0;">
          <img src="" class="glyphIMG">
        </div>
      </div> -->
      <div>ABOUT</div>
    </a>
  </div>
</div>
