<div id="superduperstudio">
  <a href="#" onmouseover="show(1)" onmouseout="hide(1)" onclick="selectDrawing(); glyphRandomizer()">
    <img id="draw" src="">
  </a>
</div>

<div class="nav-wrapper">
  <div class="navText">
    <a href="#current" onmouseover="show(2)" onmouseout="hide(2)">
      <div class="glyphBox">
        <div class="glyph" id="nav2" style="opacity: 0;">
          <img src="" class="glyphIMG">
        </div>
      </div>
      <div>CURRENT</div>
    </a>
  </div>
  
  <div class="flex-filler"></div>
  
  <div class="navText">
    <a href="#archive" onmouseover="show(3)" onmouseout="hide(3)">
      <div class="glyphBox">
        <div class="glyph" id="nav3" style="opacity: 0;">
          <img src="" class="glyphIMG">
        </div>
      </div>
      <div>ARCHIVE</div>
    </a>
  </div>

  <div class="flex-filler"></div>
  
  <div class="navText">
    <a href="http://blog.superduperstudio.net/" onmouseover="show(4)" onmouseout="hide(4)">
      <div class="glyphBox">
        <div class="glyph"  id="nav4" style="opacity: 0;">
          <img src="" class="glyphIMG">
        </div>
      </div>
      <div>BLOG</div>
    </a>
  </div>

  <div class="flex-filler"></div>
  
  <div class="navText">
    <a href="#about" onmouseover="show(5)" onmouseout="hide(5)">
      <div class="glyphBox">
        <div class="glyph"  id="nav5" style="opacity: 0;">
          <img src="" class="glyphIMG">
        </div>
      </div>
      <div>ABOUT</div>
    </a>
  </div>
</div>