
<div id="main-content">
  <!-- begin carousel -->
  <div class="images-and-video">
    <div class="carousel" >
      {{:carouselContent}}
    </div>
    <div id="carousel-counter">
      <div class="carousel-arrow left" onclick="prev()">
        <img src="Pics/ArrowLeft.svg" right="50px">
      </div>
      <div class="carousel-counts">
        <bold id="current-image"></bold>
        <bold>/</bold>
        <bold id="total-images"></bold>
      </div>
      <div class="carousel-arrow right" onclick="next()">
        <img src="Pics/ArrowRight.svg" left="50px">
      </div>
    </div>
  </div>
  <!-- end carousel -->

  <!-- begin description -->
  <div class="description">
    <div class="description-left">
      {{:descriptionLeftContent}}
    </div>

    <div class="description-right">
      {{:descriptionRightContent}}
    </div>
  </div>
  <!-- end description -->

</div>