<div id="main-content">

  <!-- begin carousel -->
  <div class="images-and-video">
    <div class="jcarousel" >
      {{:carouselContent}}
    </div>

    <div class="carouselArrows">
      <div class="innerCarouselArrows">
        <div class="carouselArrowsLeft" onclick="prev()">
          <img src="Pics/ArrowLeft.svg" right="50px">
        </div>
        <div class="carouselArrowsRight" onclick="next()">
          <img src="Pics/ArrowRight.svg" left="50px">
        </div>
      </div>
    </div>
  </div>
  <!-- end carousel -->

  <!-- begin description -->
  <div class="description">
    <div class="description-left">
      {{:descriptionLeftContent}}
    </div>

    <div class="description-right">
      {{:descriptionRightContent}}
    </div>
  </div>
  <!-- end description -->

</div>